body
{
    height: 3000px;
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
}

.hor-navbar
{
    height: 60px;
    background-color: #FF90BC;
    display: flex;
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.left-side
{
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.logo
{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.right-side
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 35%;
    
}
.logo-box 
{
display: grid;
grid-template-columns: 60px 1fr;
width: 400px;
margin-left: 20px;

}

.logo-box h1
{
color: #F9F9E0;
font-size: 25px;
font-family: "Nunito Sans", sans-serif;
}

.logo-box span
{
font-size: 27px;
font-weight: 800;
font-family: "Nunito Sans", sans-serif;
}
.MenuBar{
    width: 0px;
    height: 700px;
    margin-left: -8px;
    margin-top: 60px;
    box-shadow: 0px 2px 4px 0px black;
    background-color:#FF90BC;
    transition: 0.4s;
    position: fixed;
    overflow-x: hidden;
    float: right;
}
.hor-navbar .left-side a img:hover{
  transition: 0.3s;
  height: 27px;
  width: 27px;
}
.MenuBar button{
    color: #F9F9E0;
    width: 200px;
    height: 40px;
    background: none;
    border: none;
    font-size: medium;
    margin-top: 20px;
}
.MenuBar button:hover{
    background-color:#F9F9E0;
    border-radius: 20px;
    color: black;
    transition: 0.3s;
    font-size: 18px;
}
.MenuBar button img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}
.right-side a{
    text-decoration: none;
    padding-left: 50px;
    color: #F9F9E0;
}
.right-side a:hover{
    transition: 0.3s;
font-size: large;
}
@media screen and (max-width: 850px) {

  .right-side{
    display: none;
  }
}
@media screen and (max-width: 500px) {

    .end-side{
      margin-left: 0px;
    }
  }
.end-side{
    margin-left: 21%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.end-side button{
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: transparent;
    background-color: #F9F9E0;
}
.end-side button:hover{
    transition: 0.3s;
    height: 38px;
width: 107px;
background-color: #8ACDD7;
}
.MenuBar button{
    width: 200px;
    height: 40px;
    background: none;
    border: none;

}

.hor-navbar #MenuBarRes {
    border: transparent;
    background: transparent;
    width: 35px;
    height: 35px;
    margin-left: 8px;
    margin-top: 10px;
}
.hor-navbar button img{
    width: 20px;
    height: 20px;
    margin-left: -3px;
}
.Main{
    width: 100%;
    height: 700px;
    overflow: hidden;
    background-image: url("/AaoShadiKaraye/Images/center-point-events-03.jpg");
    background-size: 1300px 700px;
    background-repeat: no-repeat;
    
}
.Main .Text{
    margin-left: 50px;
    margin-top: 300px;
    text-align: center;
}
.Main .Text h1{
    color:#F9F9E0;
    font-size: 45px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}
.Main .Text h2{
    color:#F9F9E0;
    margin-top: -35px;
    font-size: 27px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
}
.Main button{
    margin-left: 550px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: #FF90BC;
    border: solid 1px black;
    margin-top: -10px;
    font-size: large;
}
.Main button:hover{
  background-color: #FFC0D9;
  height: 52px;
  width: 205px;
  transition: 0.3s;
}
